body {
    background-color: #f8f9fe;
}

.navbar {
    background-color: #ffffff;

    height: 45px;

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Gloock', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #e9ecef;


    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Gloock', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;


}

.sidebar .nav-item {
    margin-bottom: 0.9rem;
}

.sidebar-sticky {
    margin-top: 50px;
}

.footer {
    background-color: #ffffff;
    border-top: 1px solid #e9ecef;
    padding: 0.7rem;
    text-align: center;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: slideIn 1s ease-in-out;
}