body {

    background-color: #f8f9fe;
}

.navbar {
    background-color: #ffffff;
    height: 45px;

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Gloock', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.sidebar {

    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Gloock', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #e9ecef;
    z-index: 1;
}

.sidebar .nav-item {
    margin-bottom: 0.9rem;
}

.sidebar-sticky {
    margin-top: 50px;
}

.form-group {
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #ffffff;
    border-top: 1px solid #e9ecef;
    padding: 0.7rem 1.25rem;
    color: #6c757d;
}

.form-control {
    transition: border-color 0.4s ease;
}

.form-control:focus {
    border-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.form-control::placeholder {
    font-size: 14px;

}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-text {
    animation: slideIn 1s ease-in-out;
}